body {
  background: url(C:/Users/lacke/Desktop/Epicodus/Project-week1/img/backgroundGolf.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

.well {
  background-color: rgb(243,243,243,.5);
  border: transparent;
  color: black;
}

.jumbotron {
  background-color: rgb(243,243,243,.3)
}

h1 {
  text-align: center;
}

.heading {
  width: 7%;
  height: auto;
}


.sidebar {
  width: 250px;
  float: left;
  text-align: center;
  margin-right: 15px;
  padding: 10px;
}

.sidebar2 {
  width: 250px;
  float: left;
  clear: left;
  text-align: left;
  margin-right: 15px;
  padding: 10px;
}

ol li {
  list-style-position: inside;  /*moves numbering inside of the boundaries of the list, helping it interact more consistently with margins on other elements*/
}

.secheader {
  text-align: center;
}

.btn {
  font-weight: bold;
}

.btn-block {
  background-color: rgb(93, 93, 93);
}

a {
  color: whitesmoke;
  font-weight: bolder;
  text-decoration: underline;
}

/*  discovered flex as built in functionality for column height matching. fixed the issue of the "well
    bootstrap formatting being cutoff at the bottom of the element*/
.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}

.row.display-flex > [class*="col-"] {
  display: flex;
  flex-direction: column;
}

.intro {
  text-align: justify;
}

.schlDate {
  background-color: rgb(117, 117, 117);
  color: whitesmoke;
}

.prim {
  font-weight: bold;
  text-decoration: underline;
}