h1 {
  text-align: center;
}

.sidebar {
  float: left;
  background-color: rgb(74, 88, 88);
  text-align: center;
}

.sidebarHead {
  color: white;
}

.secheader {
  text-align: center;
}

.headimg {
  width: 7%;
  height: auto;
}

/*  discovered flex as built in functionality for column height matching. fixed the issue of the "well
    bootstrap formatting being cutoff at the bottom of the element*/
.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}

.row.display-flex > [class*="col-"] {
  display: flex;
  flex-direction: column;
}