h1 {
  text-align: center;
}

.headimg {
  width: 7%;
  height: auto;
}

.sidebar {
  float: left;
  background-color: rgb(141, 161, 161);
  text-align: center;
}

.secheader {
  text-align: center;
}

.btn {
  font-weight: bold;
}

.btn-block {
  background-color: rgb(58, 55, 55);
}

a {
  color: whitesmoke;
  font-weight: bolder;
  text-decoration: underline;
}

/*  discovered flex as built in functionality for column height matching. fixed the issue of the "well
    bootstrap formatting being cutoff at the bottom of the element*/
.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}

.row.display-flex > [class*="col-"] {
  display: flex;
  flex-direction: column;
}

.intro {
  text-align: justify;
}


